// *****************************************
// BASE FRAMEWORK
// *****************************************


// HTML, BODY
html,
body {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  background-color: $base-background-color;
  color: $base-text-color;
  letter-spacing: $base-letter-space;
  line-height: $base-line-height;
  min-height: 100vh;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  font-size: $base-font-size;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 100vh;
  width: 100%;
  > *:not(script):not(style):not(noscript) {
    display: block;
    width: 100%;
    align-self: auto;
    margin: 0;
  }
  &.modal-open {
    overflow: hidden;
  }
  &.error404 {
    background-color: setcolor(green,dark);
  }
}

html {
  font-size: 75%;
  scroll-padding-top: 150px;
  scroll-padding-bottom: 150px;
}

// SM -------------------------------------------
@include breakpoint(sm) {

  html {
    font-size: 83.33%;
  }

  body {
  }

}//sm

// MD  ------------------------------------------
@include breakpoint(md) {

  html {
    font-size: 91.66%;
  }

  body {
    font-size: $base-font-size+1px;
  }

}//md

// LG -------------------------------------------
@include breakpoint(lg) {

  html {
    font-size: 100%;
  }

  body {
    font-size: $base-font-size+2px;
  }

}//lg
