// *****************************************
// VARIABLES
// *****************************************


// SPACERS
$gap: 1.563rem; //25px


// BORDER RADIUS
$border-radius: .75rem;


// LINE HEIGHTS
$lh-base: 1.6;
$lh-mid: 1.3;
$lh-compact: 1.1;


// LETTER SPACE
$ls-base: normal;
$ls-wide: 0.075em;

// FONT WEIGHTS
$normal: 400;
$bold: 700;

// FONT FAMILIES
$font-headline: 'Montserrat', sans-serif; //100,200,300,400,500,600,700,800,900
$font-base: 'Source Serif 4', serif; //200,300,400,500,600,700,800,900


// BASE
$base-font-family: $font-base;
$base-font-weight: $normal;
$base-font-size: 16px;
$base-line-height: $lh-base;
$base-letter-space: $ls-base;
$base-small-font-size: 0.737em;



// BASE COLOR VARIABLES
$base-background-color: setcolor(white,base);
$base-text-color: setcolor(black,base);
$base-link-color: setcolor(teal,base);
$base-link-text-decoration: underline;
$base-link-hover-color: setcolor(green,dark);
$base-link-hover-text-decoration: underline;


// SECONDARY COLOR VARIABLES
$inner-backgrounds-color: setcolor(grey,light);
$inner-text-color: $base-text-color;
$inner-link-color: $base-link-color;
$inner-link-hover-color: $base-link-color;

$alternating-backgrounds-color: setcolor(grey,light);
$alternating-text-color: $base-text-color;
$alternating-link-color: $base-link-color;
$alternating-link-hover-color: $base-link-color;

$alternating-inner-backgrounds-color: setcolor(grey,dark);
$alternating-inner-text-color: white;
$alternating-inner-link-color: white;
$alternating-inner-link-hover-color: lime;
