// *****************************************
// FORMS
// *****************************************


// INPUTS TEXT
input[type=text],
input[type=email],
input[type=password],
input[type=email],
input[type=tel],
input[type=number],
input[type=search],
textarea {
  @extend %base-form;
}


// SELECT
select {
  @extend %base-form;
}


// TEXT AREA
textarea {
  min-height: 3em;
  height: 9.5em;
  max-height: 50vh;
  resize: vertical;
  line-height: $lh-base;
}


// GRAVITY FORMS CUSTOM
.gform_title {
  display: none;
}

.gform_wrapper {
}

.gform_heading {
  margin-bottom: $gap;
}

.gform_required_legend {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: $ls-wide;
}

main .gform_wrapper.gravity-theme .gfield_label {
  font-size: 0.9em;
  font-weight: $bold;
  line-height: 1;
  margin: 0 0 .3125rem 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

main .gform_wrapper.gravity-theme .gfield_header_item, 
main .gform_wrapper.gravity-theme .gform_fileupload_rules, 
main .gform_wrapper.gravity-theme .ginput_complex label {
  font-size: 0.7em;
  padding: .3125rem 0 0 0;
  margin: 0;
  line-height: 1;
  font-weight: $bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.gform_wrapper.gravity-theme .ginput_container_address span {
  display: block;
  span:not(.select2-selection__rendered) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

main .gform_wrapper.gravity-theme .gfield_required {
  font-size: 1em;
  padding-inline-start: 0.15em;
  color: setcolor(red,error);
}

.gform_wrapper.gravity-theme .gform_fields {
  grid-row-gap: $gap !important;
}

.gform_wrapper.gravity-theme .gform_drop_area {
  background-color: rgba(#FFF,0.5) !important;
  .btn, button:not(#header-burger), input[type="submit"] {
    scale: 0.85;
  }
}

.gform_wrapper.gravity-theme .gform_footer button, .gform_wrapper.gravity-theme .gform_footer input, .gform_wrapper.gravity-theme .gform_page_footer button, .gform_wrapper.gravity-theme .gform_page_footer input {
  margin-bottom: 0 !important;
}

.gform_wrapper.gravity-theme .gform_footer, .gform_wrapper.gravity-theme .gform_page_footer {
  margin: $gap 0 0 0 !important;
  padding: 0 !important;
}

main .gform_wrapper.gravity-theme .description, 
main .gform_wrapper.gravity-theme .gfield_description, 
main .gform_wrapper.gravity-theme .gsection_description, 
main .gform_wrapper.gravity-theme .instruction {
  font-size: 0.8em;
  padding: 1em;
  margin-block-start: 0;
  margin: .3125rem 0;
  font-weight: $normal;
  line-height: 1.2;
  border-radius: $border-radius;
}

main .gform_wrapper.gravity-theme .gfield_validation_message, 
main .gform_wrapper.gravity-theme .validation_message {
  background-color: setcolor(red,error);
  border-color: setcolor(red,error);
  color: white;
}

main .gform_wrapper.gravity-theme .gform_validation_errors {
  background: white;
  box-shadow: none;
  border-radius: $border-radius;
  margin-block-start: 0;
  margin-block-end: 1.5rem;
  padding-block: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  outline: none !important;
}