// *****************************************
// HEADER
// *****************************************


// VARIABLES
$header-background-color: linear-gradient(180deg, rgba(3, 65, 69, 0.33) 27.44%, rgba(3, 65, 69, 0.75) 100%);
$header-layout-two-nav-background: setcolor(green,dark);
$header-logo-max-width: 125px;

$header-mobile-glyph-size: 25px;
$header-desktop-glyph-size: 18px;

$header-utility-menu-column-gap: 1.8rem;
$header-utility-menu-font-size: 13px;
$header-utility-menu-font-weight: 400;
$header-utility-menu-font-color: white;
$header-utility-menu-font-color-hover: setcolor(yellow,base);
$header-utility-menu-icon-color: white;
$header-utility-menu-icon-color-hover: setcolor(yellow,base);

$header-utility-phone-font-size: 18px;
$header-utility-phone-font-weight: 700;
$header-utility-phone-font-color: setcolor(yellow,base);
$header-utility-phone-icon-color: setcolor(yellow,base);
$header-utility-phone-font-color-hover: setcolor(yellow,base);
$header-utility-phone-icon-color-hover: setcolor(yellow,base);

$header-main-menu-column-gap: 1.5rem;
$header-main-menu-level-1-font-size: 15px;
$header-main-menu-level-1-font-weight: 600;
$header-main-menu-level-1-font-color: white;
$header-main-menu-level-1-font-color-hover: setcolor(yellow,base);
$header-main-menu-level-2-font-size: 14px;
$header-main-menu-level-2-font-weight: 500;
$header-main-menu-level-2-font-color: white;
$header-main-menu-level-2-font-color-hover: setcolor(yellow,base);
$header-main-menu-level-2-background-color: rgba(3, 65, 69, 0.95);
$header-main-menu-level-2-background-color-hover: rgba(3, 65, 69, 0.95);
$header-main-menu-level-2-width: 225px;
$header-main-menu-level-2-padding: 1.25rem 2rem;

$search-overlay-background: setcolor(green,dark);

$header-overlay-background: darken(#034145,5%);
$header-overlay-max-width: 500px;
$header-overlay-inner-background: #FFF;
$header-overlay-menu-link-padding: 1.5rem 2rem;
$header-overlay-menu-link-color: #333;
$header-overlay-menu-icon-color: #333;
$header-overlay-menu-link-border: 1px solid #CCC;
$header-overlay-phone-font-size: 1.125em;
$header-overlay-phone-font-color: setcolor(yellow,base);
//$header-overlay-phone-icon-color: #0066ff;
//$header-overlay-phone-font-weight: bold;


// HEADER
header#header {
  background: $header-background-color;
  position: fixed;
  display: block;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(2px);
  isolation: isolate;

  .inside {
    max-width: 1440px
  }

  #header-shadow {
    position: absolute;
    inset: 0;
    background-color: rgba(3, 65, 69, 1);
    z-index: -1;
    pointer-events: none;
    user-select: none;
    opacity: 0;
    @include transition(0.25s);
  }

  .col-logo {
    max-width: 50vw;
    flex-basis: calc(#{$header-logo-max-width} + 3.13rem);
    flex-shrink: 1;
  }

  .col-nav {
    flex: 1;
  }

  .row--main {
    height: 60px;
  }

  .field--header_logo {
    max-width: $header-logo-max-width;
    padding-bottom: 3px;
  }

  .header-top {
    padding-top: $gap;
    padding-bottom: $gap;
    position: relative;
  }

  &.header-one {
    .header-main-menu-wrap {
      @extend .col;
      @extend .col-xs-12;
    }
    ul.menu {
      @extend .end-xs;
    }
  }//header-one

  &.header-two {
    .header-bottom {
      background: $header-layout-two-nav-background;
      color: #FFF;
      padding-top: 1rem;
      padding-bottom: 1rem;
      ul.menu {
        @extend .center-xs;
        li {
          ul {
            padding-top: 1rem;
          }
        }
      }
    }
  }//header-two

  #header-burger {
    width: $header-mobile-glyph-size*1.25;
    height: $header-mobile-glyph-size;
    padding: 0;
    background: transparent;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    display: block;
    position: relative;
    cursor: pointer;

    .line {
      left: 0;
      top: 0;
      width: $header-mobile-glyph-size*1.25;
      background: $header-utility-menu-icon-color;
      height: 3px;
      position: absolute;
      transition-property: width;
      transition-timing-function: ease-in-out;
      transition-duration: 0.3s;
      pointer-events: none;
      user-select: none;
      &.line1 {
        transition-delay:.5s;
      }
      &.line2 {
        top: $header-mobile-glyph-size / 2 - 1.5px;
        transition-delay:.625s;
      }
      &.line3 {
        top: $header-mobile-glyph-size - 3px;
        transition-delay:.75s;
      }
    }

    .cross-wrap {
      width: $header-mobile-glyph-size;
      height: $header-mobile-glyph-size;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%) translateY(0) rotate(45deg);
      pointer-events: none;
      user-select: none;
      .cross {
        transition-property: width, height;
        transition-timing-function: ease-in-out;
        transition-duration: 0.3s;
        background: $header-utility-menu-icon-color;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        pointer-events: none;
        user-select: none;
        &.cross1 {
          width: 0;
          height: 3px;
        }
        &.cross2 {
          width: 3px;
          height: 0;
        }
      }
    }

    &:hover {
      .line {background: $header-utility-menu-icon-color-hover;}
      .cross-wrap .cross {background: $header-utility-menu-icon-color-hover;}
    }//hover

    // Active
    &.active {
      .line {
        width: 0;
        &.line1 {transition-delay:0s;}
        &.line2 {transition-delay:.125s;}
        &.line3 {transition-delay:.25s;}
      }
      .cross-wrap {
        .cross {
          &.cross1 {transition-delay:.625s; width: $header-mobile-glyph-size+8px;}
          &.cross2 {transition-delay:.375s; height: $header-mobile-glyph-size+8px;}
        }
      }
    }//end: active

  }//burger

  ul.menu {
    @extend .row;
    gap: 1rem;
    line-height: 1;
    position: relative;
    flex-wrap: nowrap;
    z-index: 99;
    font-family: $font-headline;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.10), 0px 1px 2px rgba(0, 0, 0, 0.06);
    letter-spacing: 0.02em;
    li {
      display: block;
      flex: 0 0 auto;
      max-width: 100%;
      position: relative;
      @include hover {
        > ul {
          visibility: visible;
        }
      }
      &[class*='icon-'] {
        font-size: $header-mobile-glyph-size;
        &:before {
          display: block;
          line-height: 1;
          color: $header-utility-menu-icon-color;
        }
        @include hover {
          &:before {
            color: $header-utility-menu-icon-color-hover;
          }
        }
        span,
        a {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0;
          overflow: hidden;
          display: block;
          cursor: pointer;
        }
      }
      a {
        display: block;
        text-decoration: none;
      }
      &:last-child {
        > ul {
          left: auto;
          right: -1rem;
        }
      }
      ul {
        position: absolute;
        top: 100%;
        left: -2rem;
        width: $header-main-menu-level-2-width;
        max-width: $header-main-menu-level-2-width;
        padding-top: $gap;
        gap: normal;
        display: block;
        flex: none;
        text-align: left;
        visibility: hidden;
        z-index: 99;
        white-space: normal;
        word-break: normal;
        line-height: $lh-mid;
        li {
          flex: none;
          display: block;
          white-space: normal;
          word-break: normal;
          line-height: $lh-mid;
          border-bottom: 1px solid #022426;
          &.menu-item-has-children {
            > a {
              padding-right: calc(2rem + 1em);
              @extend %icon-before;
              &:before {
                @extend .icon-right;
                display: block;
                position: absolute;
                top: 50%;
                right: 1em;
                transform: translateY(-50%);
                width: 1em;
                height: 1em;
                font-size: 1em;
                text-align: center;
                line-height: 0.925;
              }
            }
          }
          a {
            padding: $header-main-menu-level-2-padding;
            white-space: normal;
            word-break: normal;
            line-height: $lh-mid;
          }
          ul {
            top: -1px;
            left: calc(100% - 1px) !important;
            right: auto !important;
            padding-top: 0;
            border: 1px solid #022426;
            border-bottom: none;
            li {
              ul {
                display: none !important;
              }
            }
          }
        }
      }
    }
  }//ul.menu

  .header-utility-menu-wrap {
    @extend .col;
    @extend .col-xs-12;
    ul.menu {
      @extend .middle-xs;
      gap: $header-utility-menu-column-gap;
      line-height: 1;
      li {
        line-height: 1;
        ul {
          display: none !important;
        }
      }
    }
  }

  .header-main-menu-wrap {
    ul.menu {
      gap: $header-main-menu-column-gap;
      user-select: none;
      li {
        a {
          font-size: $header-main-menu-level-1-font-size;
          font-weight: $header-main-menu-level-1-font-weight;
          color: $header-main-menu-level-1-font-color;
          @include hover {
            color: $header-main-menu-level-1-font-color-hover;
          }
        }
        &.current-menu-item {
          > a {
            color: $header-main-menu-level-1-font-color-hover;
          }
        }
        ul {
          li {
            a {
              font-size: $header-main-menu-level-2-font-size;
              font-weight: $header-main-menu-level-2-font-weight;
              color: $header-main-menu-level-2-font-color;
              background: $header-main-menu-level-2-background-color;
              @include hover {
                color: $header-main-menu-level-2-font-color-hover;
                background: $header-main-menu-level-2-background-color-hover;
              }
            }
            &.current-menu-item {
              > a {
                color: $header-main-menu-level-2-font-color-hover;
                background: $header-main-menu-level-2-background-color-hover;
              }
            }
          }
        }
      }
    }
  }

  // SM -------------------------------------------
  @include breakpoint(sm) {
  }//sm

  // MD  ------------------------------------------
  @include breakpoint(md) {

    .header-utility-menu-wrap {
      ul.menu {
        li {
          user-select: none;
          &[class*='icon-'] {
            font-size: $header-utility-menu-font-size;
            &:before {
              display: block;
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              font-size: $header-desktop-glyph-size;
              width: $header-desktop-glyph-size;
              text-align: center;
            }
            span,
            a {
              position: relative;
              top: auto;
              left: auto;
              right: auto;
              bottom: auto;
              opacity: 1;
              overflow: visible;
              display: block;
              flex:1;
              font-size: $header-utility-menu-font-size;
              font-weight: $header-utility-menu-font-weight;
              color: $header-utility-menu-font-color;
              padding-left: $header-desktop-glyph-size+5px;
              @include hover {
                color: $header-utility-menu-font-color-hover;
              }
            }
          }
          &:is(.icon-phone2,.icon-mobile,.icon-phone) {
            user-select: all;
            &:before {
              //color: $header-utility-phone-icon-color;
              display: none;
            }
            a {
              font-size: $header-utility-phone-font-size;
              font-weight: $header-utility-phone-font-weight;
              color: $header-utility-phone-font-color;
              padding-left: 0;
              letter-spacing: $ls-wide;
            }
            @include hover {
              &:before {
                //color: $header-utility-phone-icon-color-hover;
              }
              a {
                color: $header-utility-phone-font-color-hover;
              }
            }
          }//phone
          a {
            font-weight: $header-utility-menu-font-weight;
            color: $header-utility-menu-font-color;
            font-size: $header-utility-menu-font-size;
            @include hover {
              color: $header-utility-menu-font-color-hover;
            }
          }
        }
      }
    }

  }//md

  // LG -------------------------------------------
  @include breakpoint(lg) {

    ul.menu {
      li {
        &[class*='icon-'] {
          &.show-lg {
            display: flex !important;
          }
        }
      }
    }

  }//lg

}//header#header


// MOBILE OVERLAY MENU
#header-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background: $header-overlay-background;
  align-self: normal;
  .inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: $gap*2;
    width: 100%;
    z-index: 999;
		overflow-x: hidden;
		overflow-y: scroll;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: row;
    flex: wrap;
    .m-auto {
      display: block;
      flex: 0 0 100%;
      max-width: 100%;
      margin: auto 0;
      .max-width {
        max-width: 700px;
        margin: auto;
      }
    }
  }
  .header-utility-menu {
    line-height: $lh-compact;
    ul {
      margin: 40px 0 0 0;
      padding: 0;
      display: block;
      li {
        margin: 30px 0 0 0;
        padding: 0;
        display: block;
        position: relative;
        a {
          display: block;
          position: relative;
          color: $header-overlay-menu-link-color;
          text-decoration: none;
          font-size: 20px;
          color: white;
        }
        &[class*='icon-'] {
          &:before {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            font-size: 18px;
            color: white;
            opacity: 0.5;
          }
          a {
            padding-left: 28px;
          }
        }
        &.icon-phone2,
        &.icon-mobile,
        &.icon-phone {
          a {
            font-size: $header-overlay-phone-font-size;
            color: $header-overlay-phone-font-color;
            padding-left: 0;
            font-family: $font-headline;
            font-weight: 700;
          }
          &:before {
            //color: $header-overlay-phone-icon-color;
            display: none;
          }
        }
      }
    }
  }
}



// BELLOWS PLUGIN - MOBILE NAVIGATION
#header-overlay .bellows {
  margin: 0;
  line-height: 1;
  .fa-chevron-up {
    @extend .icon-up;
  }
  .fa-chevron-down {
    @extend .icon-down;
  }
  .bellows-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px 0;
  }
  .bellows-nav .bellows-menu-item {
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(#FFF,0.1);
  }
  .bellows-nav, [class^="bellows-"] {
    line-height: 1;
  }
  .bellows-nav .bellows-target,
  .bellows-nav .bellows-menu-item-has-children > .bellows-target {
    padding: 0;
    flex-direction: row;
    font-size: 1em;
  }
  .bellows-nav .bellows-target > .bellows-target-text {
    flex: 1;
    display: block;
    font-size: 24px;
    color: white;
    font-family: $font-headline;
    font-weight: 600;
  }
  .bellows-nav .bellows-active .bellows-target > .bellows-target-text {
    text-decoration-color: setcolor(green,base);
  }
  .bellows-nav .bellows-subtoggle {
    width: auto;
    height: auto;
    position: relative;
    right: auto;
    top: auto;
    font-size: 24px;
    color: white;
    opacity: 0.5;
  }
  .bellows-nav .bellows-submenu {
    padding-top:20px;
    padding-left: 5px;
    .bellows-menu-item {
      margin-bottom: 18px;
      padding-bottom: 0;
      border-bottom: none;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .bellows-target > .bellows-target-text {
      font-size: 16px;
      text-decoration: none;
      font-weight: 500;
    }
  }
}


// SEARCH OVERLAY
#search-overlay {
  background: $search-overlay-background;
  position: relative;
  z-index: 3;
}
