form.search-form {
  @extend .row;
  flex-wrap: nowrap;
  gap: 0;
  > * {
    display: block;
    flex: 1;
    max-width: 100%;
  }
  input {
    font-size: 1em;
    height: 3.5em;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border: none;
    &.search-field {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding-left: 1em !important;
      padding-right: 1em !important;
      color: #333;
    }
    &.search-submit {
      flex: 0 0 auto;
      min-width: fit-content;
      border: none;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      box-shadow: none !important;
      @include hover {
        background-color: setcolor(yellow,base);
      }
    }
  }
}