// SELECT2 VARIABLES
$select-default-color: $base-text-color;
$select-selected-background: #FFF;
$select-selected-border: 1px solid setcolor(grey,base);
$select-selected-border-radius: $border-radius;
$select-dropdown-background: #FFF;
$select-dropdown-border: 1px solid setcolor(grey,base);
$select-dropdown-border-radius: $border-radius;
$select-option-color: $base-text-color;
$select-arrow-color: $base-text-color;
$select-search-results-max-height: 18.25rem; /* 292/16 */
$select-highlight-background: setcolor(black,base);
$select-highlight-color: #FFF;
$select-disabled-highlight-background: setcolor(grey, base);
$select-disabled-highlight-color: #444;
$select-selected-highlight-background: setcolor(grey, base);
$select-selected-highlight-color: #444;


select {
  display: block;
  width: 100%;
}

.select2-container {
  display: block;
  width: auto !important;
  margin: 0;
  position: relative;
  line-height: 1;
  font-size: 1em !important;
  font-family: $base-font-family;
  font-weight: $normal;
  * {
    outline: none;
  }
}

.searchandfilter label {
  display: block;
  position: relative;
}

.select2-container .select2-selection--single {
  cursor: pointer;
  display: block;
  vertical-align: middle;
  user-select: none;
  padding-bottom: 0.765em !important;
  padding-top: 0.765em !important;
  height: auto !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 0.765em !important;
  padding-right: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: $lh-compact !important;
}

.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}

.select2-dropdown {
  background: $select-dropdown-background;
  border: $select-dropdown-border;
  border-radius: $select-dropdown-border-radius;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
  box-shadow: 11px 10px 10px -10px rgba(#000,0.23), -11px 10px 10px -10px rgba(#000,0.23);
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 1rem;
  user-select: none;
  color: $select-option-color;
  border-bottom: 1px solid setcolor(grey,base);
  font-size: 1rem;
  &:last-child {
    border-bottom: none;
  }
}

.select2-results__option[aria-selected] {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  left: 0;
  margin-top: 2rem;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.select2-container--default .select2-selection--single {
  background-color: $select-selected-background;
  border: $select-selected-border;
  border-radius: $select-selected-border-radius;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: $select-default-color;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 18px;
  position: absolute;
  top: 50%;
  transform: translateX(0) translateY(-50%);
  right: 15px;
  width: 16px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b,
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  width: 0;
  height: 0;
  border: none  !important;
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-top: 10px solid $select-arrow-color !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  line-height: 0;
  margin: 0 !important;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
  transform: translateX(0) translateY(-50%) rotate(180deg);
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: $select-search-results-max-height;
  overflow-y: auto;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  background-color: $select-disabled-highlight-background;
  color: $select-disabled-highlight-color;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: $select-selected-highlight-background;
  color: $select-selected-highlight-color;
}



.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $select-highlight-background;
  color: $select-highlight-color;
}