.blog--entry {

    .excerpt {
        font-size: 0.88em;
    }

}



body.single-blog {
    background-color: setcolor(green,light);
    background: linear-gradient(0deg, rgba(214,235,236,1) 0%, rgba(214,235,236, 0) 100%); 
    background-attachment: fixed;
}