body:not(.home) .home-only {display: none !important;}

// ART ASSETS FOR HOMEPAGE ONLY
.inside.art-container {
    pointer-events: none;
    user-select: none;
    z-index: 0;
}


.homepage-art-1 {
    width: calc(100% - 3.13rem);
    max-width: 70vw;
    position: absolute;
    right: $gap;
    top: -$gap*6;

    img {
        transform: rotate(25deg);
        mix-blend-mode: darken;
    }

    // MD  ------------------------------------------
    @include breakpoint(md) {
        top: -$gap*10;
        right: $gap*2;
        max-width: 926px;
        img {
            transform: rotate(0);
        }
    }//md

    // LG
    @include breakpoint(lg) {
        right: -$gap*2;
    }//lg

}//.homepage-art-1


.homepage-art-2 {
    width: 518px;
    max-width: 50vw;
    margin-top: -$gap*10;
    margin-left: -$gap;

    img {
        mix-blend-mode: darken;
    }

   // MD  ------------------------------------------
   @include breakpoint(md) {
    margin: 0;
    img {
        position: absolute;
        bottom: -$gap;
        left: -$gap;
        transform: translateY(50%);
    }
   }//md

   @include breakpoint(lg) {
    img {
        bottom: $gap;
        left: -$gap*2;
    }
   }//lg

}


.homepage-art-3 {
    width: 43.75rem;
    max-width: 50vw;
    margin-right: -$gap*2;
    margin-left: auto;
    position: relative;
    transform: translateY(-1.5rem);

    img {
        mix-blend-mode: darken;
        opacity: 0.3;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
    }

   // MD  ------------------------------------------
   @include breakpoint(md) {
    margin-right: -$gap*4;
    transform: translateY(-3.13rem);
   }//md

   @include breakpoint(lg) {
    margin-right: -$gap*6;
   }//lg

}

.homepage-art-4 {
    margin-top: -$gap;
    margin-bottom: -$gap*6;
    z-index: 3;
    img {
       width: 100%;
       max-width: calc(50vw + 3.13rem);
       margin: 0 auto; 
    }

   // MD  ------------------------------------------
   @include breakpoint(md) {
    margin-top: 0;
    margin-bottom: 0;
    img {
        width: 50vw;
        max-width: 677px;
        position: absolute;
        bottom: 0;
        left: -$gap*4;
        transform: translateY($gap*9);
    }
   }//md

}


// FLEX FIELD OVERWRITES
.flex-id-homepage_promo_1.fish-art-1 {
    // MD  ------------------------------------------
    @include breakpoint(md) {
        padding-bottom: $gap*9;
    }//md
}

.flex-id-menu.fish-art-2 {
    // MD  ------------------------------------------
    @include breakpoint(md) {
        .col-top-content {
            .section-content {
                margin-right: 0;
                width: calc(100% - 350px);
            }
        }
    }//md
}

.flex-id-menu.fish-art-3 {
    // MD  ------------------------------------------
    @include breakpoint(md) {
        .col-top-content {
            .section-content {
                margin-left: 0;
                width: calc(100% - 350px);
            }
        }
    }//md
}

.flex-id-homepage_promo_3.fish-art-4 {
    z-index: 3;
    .bottom-content-wrap {
        .inside.mini {
            // MD  ------------------------------------------
            @include breakpoint(md) {
                width: 50vw;
                max-width: 584px;
                margin-right: 0;
            }//md
        }
    }
}