#sidebar {
  line-height: $lh-mid;

  .widget-title {
    font-size: 0.925em;
    font-weight: 700;
    margin-bottom: .625rem
  }

  > .widget {
    margin-bottom: 2.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .widget {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      gap: 0.63rem 0;
      li {
        display: block;
        flex: 0 0 100%;
        margin: 0;
      }
    }
  }

  .widget_recent_entries {
    ul {
      li {
        
      }
    }
  }

  .searchandfilter {
    label {
      display: inline-block;
      &.sf-label-radio,
      &.sf-label-checkbox {
        cursor: pointer;
      }
    }
    h4 {
      font-weight: $bold;
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      gap: $gap 0;
      li {
        display: block;
        margin: 0;
        padding: 0;
        flex: 0 0 100%;
        ul {
          gap: 0.33rem 0;
        }
      }
    }
  }

}
