.event--entry--wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .625rem 1.5rem;

    > * {
        display: block;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .featured--image {
        margin-bottom: 0.63rem;
    }

    .post-title {
        a {
            font-weight: inherit;
            color: $base-link-color;
            text-decoration: $base-link-text-decoration;
            @include text-decoration-underline();
            @include hover {
              color: $base-link-hover-color;
              text-decoration: $base-link-hover-text-decoration;
              @include text-decoration-underline();
            }
          }
    }

    p {
        margin: 0;
    }


    .date,
    .location {
        flex: 0 0 auto;
        min-width: fit-content;
        padding: 0 0 0 calc(1.4em + 10px);
        position: relative;
        font-size: 0.78em;
        font-family: $font-headline;
        letter-spacing: 0.01em;
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0.15em;
            left: 0;
            width: 1.4em;
            aspect-ratio: 1 / 1;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
            line-height: 1;
        }
    }

    .location {
        &:before {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2300a99d'%3E%3Cpath d='m8 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0-6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2z'/%3E%3Cpath d='m7.42 19.81c.17.12.37.19.58.19s.41-.06.58-.19c.3-.21 7.45-5.37 7.42-11.81 0-4.41-3.59-8-8-8s-8 3.59-8 7.99c-.03 6.45 7.12 11.6 7.42 11.82zm.58-17.81c3.31 0 6 2.69 6 6.01.02 4.44-4.39 8.42-6 9.73-1.61-1.31-6.02-5.29-6-9.74 0-3.31 2.69-6 6-6z'/%3E%3C/g%3E%3C/svg%3E");
        }
    }

    .date {
        &:before {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 4v14c0 .53.21 1.04.59 1.41.38.38.88.59 1.41.59h14c.53 0 1.04-.21 1.41-.59.38-.38.59-.88.59-1.41v-14c0-.53-.21-1.04-.59-1.41-.38-.38-.88-.59-1.41-.59h-2v-2h-2v2h-6v-2h-2v2h-2c-.53 0-1.04.21-1.41.59-.38.38-.59.88-.59 1.41zm16 14h-14v-12h14z' fill='%2300a99d'/%3E%3C/svg%3E");
        }
    }

}