
a {
  color: $base-link-color;
  text-decoration: $base-link-text-decoration;
  @include text-decoration-underline();
  @include hover {
    color: $base-link-hover-color;
    text-decoration: $base-link-hover-text-decoration;
    @include text-decoration-underline();
  }
}

.nowrap {
  white-space: nowrap;
}

// LISTS 
main ul { @include list(disc, circle); }
main ol, ol.digit { @include list(decimal, upper-alpha); }
.two-col {@include list-col(2, md);}
.three-col {@include list-col(3, lg);}

dl.selling-points {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 1.5rem;
  background-color: setcolor(black,shade2);
  padding: $gap;
  border-radius: $border-radius;
  text-shadow: 0 1px 1px white;

  dt {
      display: block;
      flex: 0 0 100%;
      max-width: 100%;
      text-transform: uppercase;
      font-weight: 700;
      color: setcolor(green,dark);
  }
  dd {
      display: block;
      flex: 0 0 100%;
      max-width: 100%;
  }
  hr {
      display: block;
      flex: 0 0 100%;
      max-width: 100%;
      margin: 1.5rem 0;
  }

  // SM -------------------------------------------
  @include breakpoint(sm) {
    gap: 1.25rem 1.5rem;

    dt {
      flex:0 0 9.375em;
  }
  dd {
      flex: 1;
  }
  hr {
    margin: 0;
  }

  }//sm

}//dl.selling-points

// LINE HEIGHT
.lh1 {
  line-height: 1;
}
.lh-compact {
  line-height: $lh-compact;
}
.lh-mid {
  line-height: $lh-mid;
}
.lh-base {
  line-height: $lh-base;
}

// TYPE STYLES
.normal {font-weight: $normal;}
.fw-600 {font-weight: 600;}
.bold, strong, b {font-weight: $bold;}

em, i {font-style: italic;}
u {text-decoration: underline;}
.caps {text-transform: uppercase;}
.nocaps {text-transform: none;}
sup {vertical-align: super; font-size: $base-small-font-size;}
sub {vertical-align: sub; font-size: $base-small-font-size;}
.small, small {font-size: $base-small-font-size;}
.screen-reader-text {display: none !important;}

.excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
}

blockquote {
  font-style: italic;
  position: relative;
  border-left: 0.63rem solid rgba(#000,0.25);
  padding-left: 1.5rem;
  quotes: auto;
}

hr { 
  @include hr(rgba(#000,0.1), 2px); 
}

p {
  margin-bottom: $gap;
  position: relative;
  &:empty {
    display: none;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

// DETAILS ACCORDION
@keyframes fade-details {
  0% {
    grid-template-rows: 0fr;
  }
  100% {
    grid-template-rows: 1fr;
  }
}

details {
  summary {
    list-style-type: none;
    list-style-image: none;
    position: relative;
    display: block;
    outline: none !important;
    cursor: pointer;
    &::-webkit-details-marker {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      display: block;
      border: none;
      cursor: pointer;
      &::-webkit-details-marker {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        display: block;
        border: none;
        cursor: pointer;
      }
    }
  }
  .expander {
    display: none;
    grid-template-rows: 0fr;
    width: 100%;
    position: relative;
    .body-area {
      width: 100%;
      overflow: hidden;
    }
  }
  &[open] {
    .expander {
      display: grid;
      animation: fade-details 1.5s forwards;
      padding-top: 1em;
    }
  }

  &.faq {
    background-color: setcolor(grey,light);
    border-radius: $border-radius;
    padding: 1.56rem 2.5rem 1.6875rem;
    summary {
      padding-left: 2em;
      color: $base-link-color;
      text-decoration: $base-link-text-decoration;
      @include text-decoration-underline();
      &:before {
        content: 'Q:';
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 700;
        font-family: $font-headline;
        color: setcolor(black,base);
        text-decoration: none;
      }
      &:hover {
        color: $base-link-hover-color;
        text-decoration: $base-link-hover-text-decoration;
        @include text-decoration-underline();
      }
    }
    .expander {
      .body-area {
        padding-left: 2em;
        &:before {
          content: 'A:';
          position: absolute;
          top: 0;
          left: 0;
          font-weight: 700;
          font-family: $font-headline;
        }
      }
    }
  }

}

// BODY AREA
.wsp-container,
.body-area {
  @extend %clearfix;
  position: relative;
  > * {
    margin-bottom: $gap;
    margin-top: $gap;
    &:first-child {
      margin-top: 0 !important;
    }
    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  &.small-gap {
    > * {
      margin-bottom: 0.63rem;
      margin-top: 0.63rem;
      &:first-child {
        margin-top: 0 !important;
      }
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
  strong, b {
    color: setcolor(teal,base);
    a {
      color: $base-link-color;
      @include hover {
        color: $base-link-hover-color;
      }
    }
  }

  a {
    strong, b {
      color: $base-link-color;
      @include hover {
        color: $base-link-hover-color;
      }
    }
  }

  img.aligncenter {
    margin-left: auto;
    margin-right: auto;
  }
  img.alignleft {
    float: left;
    margin-right: $gap;
    margin-bottom: $gap;
  }
  img.alignright {
    float: right;
    margin-left: $gap;
    margin-bottom: $gap;
  }
  span[style*="color:"] {
    strong, b {
      color: inherit;
      a {
        color: inherit;
        @include hover {
          color: inherit;
        }
      }
    }
  }
  a:not([class]) {
    font-weight: 600;
  }
  :is(h1,h2,h3,h4,h5,h6) {
    a {
      font-weight: inherit;
      color: $base-link-color;
      text-decoration: $base-link-text-decoration;
      @include text-decoration-underline();
      @include hover {
        color: $base-link-hover-color;
        text-decoration: $base-link-hover-text-decoration;
        @include text-decoration-underline();
      }
    }
  }

  table {
    display: table;
    width: 100%;
    border: 1px solid setcolor(grey,base);
    border-collapse: collapse;
    background-color: white;
    font-size: 1em;
    line-height: $lh-mid;
    text-wrap: balance;
    tbody {
      display: table-row-group;
    }
    td {
      display: table-cell;
      border: 1px solid setcolor(grey,base);
      padding: 1rem;
      width: auto;
      min-width: fit-content;
    }
    th {
      display: table-cell;
      border: 1px solid setcolor(grey,base);
      padding: 1rem;
      width: auto;
      font-weight: 600;
      text-align: left;
      background-color: setcolor(grey,dark);
      color: white;
      vertical-align: middle;
    }
    tr {
      display: table-row;
      &:nth-child(2n+2) {
        td {
          background-color: setcolor(grey,light);
        }
      }
    }
    thead {
      display: table-header-group;
    }
    tfoot {
      display: table-footer-group;
    }
  }

}

// Info Box
.info-box {
  border-radius: $border-radius;
  background-color: setcolor(green,light);
  padding: $gap;
  box-shadow: 0 .75rem 1rem -0.25rem rgba(0, 0, 0, 0.08), 0 .25rem .375rem -0.125rem rgba(0, 0, 0, 0.03);
  @extend .body-area;

  ul, p {
    //font-size: 0.88em;
  }

  strong, b {
    color: setcolor(green,dark);
  }

  :is(h2,h3,h4,h5,h6) {
    //font-family: $font-base;
  }



}