// VARIABLES
$cta-font-size: 0.88em;
$cta-font-family: $base-font-family;
$cta-font-weight: 700;
$cta-letter-space: 0.025em;
$cta-case: none;
$cta-padding: 0.9375em 1.375em 0.96875em;
$cta-border: 0.156em solid setcolor(green,base);
$cta-background: setcolor(green,base);
$cta-color: setcolor(green,dark);
$cta-background-hover: white;
$cta-color-hover: setcolor(green,dark);


// BUTTON
.btn {
  display: inline-block;
  cursor: pointer;
  outline: none;
  appearance: none;
  text-align: center;
  border-radius: 0;
  text-decoration: none;
  line-height: 1;
  user-select: none;
  border: $cta-border;
  padding: $cta-padding;
  text-transform: $cta-case;
  letter-spacing: $cta-letter-space;
  font-weight: $cta-font-weight;
  font-family: $cta-font-family;
  font-size: $cta-font-size;
  background: $cta-background;
  color: $cta-color;
  box-shadow: none;
  letter-spacing: 0.05em;
  position: relative;
  box-shadow: 0 .75rem 1rem -0.25rem rgba(0, 0, 0, 0.08), 0 .25rem .375rem -0.125rem rgba(0, 0, 0, 0.03);
  min-width: fit-content;
  @include transition(0.25s);
  @include hover {
    background: $cta-background-hover;
    color: $cta-color-hover;
    text-decoration: none;
  }
}

// SUBMIT BUTTON
input[type=submit] {
  @extend .btn;
}

button:not(#header-burger):not(.bellows-subtoggle):not(.no-style):not(.featherlight-close) {
  @extend .btn;
}

button.gform_delete_file {
  padding: 5px !important;
}

button {
  cursor: pointer;
}

// INSERT ARROW
.insert-arrow {
  display: inline-block;
  position: relative;
  i {
    @extend .icon-caret-right;
    font-size: 0.5em;
    padding-left: 0.63rem;
    position: relative;
    transform: translateY(-0.2em);
    display: inline-block;
  }
}
